/**------------------------------------------------------------------
                              GENERALE
-------------------------------------------------------------------**/

/**
    Organisation: 1|box, 2|border, 3|background, 4|text, 5|other
**/                           
    @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
    body {
        margin: auto;
        background-color: white;
        font-family: 'Raleway', sans-serif;
    }
    ul {list-style: none;}
    a {
        color: black;
        text-decoration: none;
    }
    section {padding: 100px 0px 100px 0px;}
    h1,h2,h3,button {
        font-weight:bold;
        text-align:center;}
    h1 {
        padding: 10%;
        text-shadow: 0px 0px 30px black;
        color: white;
        font-size: 80px;
    }
    h2 {
        margin-top:1.5%;
        font-size: 42px;
    }
    h3 {
        margin: 20px auto 20px auto;
        font-size:22px;
        color: #303030;
    }
    span {
        font-size: 15px; 
    }
    p {
        margin: 10px auto 10px auto;
        font-size:  19px;
        color:#9B9B9B;
    }
    input[type=text] {
        border:none;
        margin: 5px auto 5px auto;
        padding: 15px;
        width: 90%;
        border-radius: 5px;
        font-size: 15px;
        font-weight: bold;
        background-color: #ececec;
        color:#575757;
    }
    input[type=text]:active, select {border:none;}
    button {
        display: block;
        padding: 1.2rem 3rem 1.2rem 3rem;
        margin: 30px auto 30px auto;
        border:none;
        border-radius: 30px;
        box-shadow: 0px 0px 20px grey; 
        background-color: black;
        color: white;
        font-size: 17px;
    }
    button:active {box-shadow: 0px 0px 5px grey; }
    button:hover {
        transition: background-color 0.5s;
        background-color:#303030;
    }
    .button-red:hover {background-color:rgb(156, 1, 1);}
    .button-red {background-color:red;}
    .red-line {
        height: 5px;
        width: 150px;
        border:none;
        border-radius: 5px;
        background-color:red;
    }
    .title-groupe {margin: 20px 10% 50px 10%;}
    button, .info-slideshow-button, #slideshow-pausePlayButton, #header-mobileImg{cursor:pointer}
    #loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        background-color:white;
        z-index: 99;
    }
    .desactive-loader {display: none;}
    .loader-content {
        text-align: center;
        position:fixed;
        left: 50%;
        top: 50%;
        margin-top: -51px;
        margin-left: -56px;
    }
    body {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    a:active{outline : none;}
    .red-line-small{color: red;}
    #loader-icon {-webkit-animation: rotation 4s infinite linear;}
    @-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
/**------------------------------------------------------------------
                               HEADER
------------------------------------------------------------------**/
    header {
        display: flex;
        position: fixed;
        justify-content: space-between;
        top:0;
        right:0;
        padding: 10px 5% 10px 5%;
        width: 90%;

        box-shadow: 0px 0px 15px grey;

        background-color:white;

        z-index: 10;
    }
    #logo {
        width: 102px;
        height: 52px;
    }
    .header-list {
        display: flex;
        list-style: none; 
    }
    #header-mobileImg {
        display: none;
        width: 36px;
        height: 36px;
        margin: auto 0px auto 0px;
    }
    .header-list li {margin-left: 111px;}
    .header-list li a {padding-bottom: 24px;}
    .header-list li a:hover {border-bottom: red solid 3px;}
    #mobileMenu {
        position: fixed;
        width: 300px;
        height: 100%;
        right: 0;
        top: 72px;
        border-top: #eeeeee solid 1px;
        background-color: white;
        z-index: 10;
    }
    #mobileMenu-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.4;
        z-index: 9;
    }
    #mobileMenu li {
        border-bottom: #eeeeee solid 1px;
        padding:22px;
    }
    #mobileMenu li:hover {
        background-color: #ff0000;
        color: white;
    }
    .mobileMenu_active, .mobileMenu-background_active {
        display: block;
    }
    .mobileMenu_disable, .mobileMenu-background_disable {
        display: none;
    }
    #mobileMenu ul {
        margin: 0;
        padding: 0;
    }
/**------------------------------------------------------------------
                            BIG ONE
------------------------------------------------------------------**/
    .big-one {
        width: 100%;
        height: 100%;
        margin-top:72px;
        box-shadow: grey 0px 10px 10px;
        background : url("../images/big-one-background.jpg") no-repeat center center;
        background-size: cover; 
        padding: 0px;
    }
    .big-one-wrapper {
        display: table;
        width: 100%;
        height:700px;

    }
    #big-one-title {
        display: table-cell;
        vertical-align: middle;
        opacity:0;
    }
/**------------------------------------------------------------------
                              INFO
------------------------------------------------------------------**/
.arrow {
    width: 47%;
}
#pause, #play{
    width: 30%;
} 
.info-slideshow {
        width:90%;
        height: 580px;
        margin:auto;
        box-shadow: 0px 0px 30px grey;
        background: url('../images/image-1.jpg') no-repeat center;
        background-size: 100%;
    }

    .info-slideshow-buttons {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    .info-slideshow-button {
        background-color:black;
        opacity: 0.5;
        z-index: 2;
       width:10%;
    }
    .button-wrapper {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .info-slideshow-images {
        display: none;
    }
    #slideshow-pausePlayButton {
        width: 12%;
        border-radius: 18%;
        background-color: black;
        opacity: 0;
        text-align: center;
        display: table;
        margin: auto;
    }
    .pausePlay_desactive {display: none;}
    .pausePlay_active {
        display: inline;
        position: relative;
    }
    .mouseOn {
        transition: opacity 0.7s;
        opacity: 0.4;
    }
    .mouseOut {
        transition: opacity 0.7s;
        opacity: 0;
    }
    .info-slideshow-button:hover, #slideshow-pausePlayButton:hover {
        transition: opacity 0.5s;
        opacity: 0.8;
    }
    .slideshow-wrapper-button{
        display:table;
        width: 100%;
        height: 100%;
    }
    .slideshow-wrapper-centerButton {
        display: table;
        height: 100%;
        width:80%;
    }
    .buttonPausePlay-wrapper{
        display: table-cell;
        vertical-align: middle;
    }
/**------------------------------------------------------------------
                              MAP
------------------------------------------------------------------**/
    #map {
        background: url('../images/background-map.png') center center;
        background-color: #f0f0f0;
    }
    .map-content {
        margin:auto;
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    #api-google {
        width:60%;
        height:650px;
        background-color: grey;
        box-shadow: 0px 0px 30px grey;
    }
    .map-content-right{
        width: 37%;
        height:auto;
        background-color: #f3f3f3;
        font-size: 18px;
        color:#464545;
        box-shadow: 0px 0px 30px grey;

    }
    #map-info-station, #map-reservation {margin: 30px;}
    .placeholder {
        font-weight: bold;
        padding: 12px;
    }
    .result {
        width: 60%;
        padding: 12px;
        text-align: left;
    }
    .map-content-right-info {
        display: flex;
        justify-content: space-between;
        background-color: #ececec;
        margin: 5px auto 5px auto;
    }
    #error-info-station, #error-reservation {color:#6b6b6b;}
    #map-reservation{display: none;}
    .button-group {
        display: flex;
        width: 400px;
        margin: 10px auto;
    }
    .input-group {
        display: flex;
        flex-direction: column;
        margin: 10px auto 10px auto;
    }
    #confirmation-message {
        text-align: center;
        margin: 20px;
    }
    #signature {
        display: block;
        width: 300px;
        height: 150px;
        margin: 40px auto 20px auto;

        background-color: white;
    }
/**------------------------------------------------------------------
                            RESERVATION
------------------------------------------------------------------**/
    #reservation-box {
        margin:100px auto 50px auto;
        width: 70%;
        text-align: center;
    }
    #img-signature {
        margin: 40px auto 40px auto;
        width: 240px;
        height: 120px;
    }
/**------------------------------------------------------------------
                            FOOTER
------------------------------------------------------------------**/
    footer {
        width:100%;
        height: 220px;
        background-color:#212121;
    }
    .footer-txt {
        position: relative;
        bottom: 0;
        padding-top: 100px;
        text-align: center;
    }
    .footer-txt-link {color:#9B9B9B;}
    .footer-txt-link:hover {color:white;}
/*------------------------------------------------------------------
                            Responsive
------------------------------------------------------------------*/
    @media screen and (max-width: 1500px) {
        h1 {
            font-size: 60px;
        }
        h2 {
            font-size: 35px;
        }
        h3 {
            font-size: 25px;
        }
        p {
            font-size: 15px;
        }
        .red-line {
            width:120px;
        }
        .big-one-wrapper {
            height: 500px;
        }
        .map-content {
            flex-direction: column;
            width: 100%;
        }
        #api-google {
            width: 100%;
            height : 600px;
        }
        .map-content-right {
            width: 85%;
            height: 550px;
            margin: 100px 0px 80px 0px;
            margin-right: auto;
            margin-left:auto;
        }
        button {
            font-size: 15px;
        }
        section {
            padding: 50px 0px 50px 0px;
        }
        .info-slideshow {
            height: 464px;
        }
    }
    @media screen and (max-width: 900px){
        h1 {
            font-size: 42px;
        }
        h2 {
            font-size: 26px;
        }
        h3 {
            font-size: 18px;
        }
        .red-line {
            width:100px;
        }
        .header-list {display: none;}
        #header-mobileImg {
            display: flex;
        }
        .big-one-wrapper {
            height: 300px;
        }
        #api-google {
            height : 500px;
        }
        .map-content-right {
            margin: 70px 0px 50px 0px;
            margin-right: auto;
            margin-left:auto;
        }
        .info-slideshow {
            width:100%
        }
    }
    @media screen and (max-width: 525px){
        button {
            font-size: 12px;
            padding: 1rem 2rem 1rem 2rem;
        }
        .map-content-right {
            width: 100%;
        }
        .button-group {
            width: auto;
        }
    }
    